[Desktop Entry]

#版本
Version = 1.0

#名字,这个会显示在桌面图标的下方
Name = nm
Name[zh_CN]=监控器

#执行文件路径,使用绝对路径
Exec = /home/openeuler/.local/bin/nm-config

#桌面图标的路径
Icon = /home/openeuler/Desktop/nm/nmfront/nm.png

#类型,用于系统对其分类
Type = Application


#选择执行时是否从shell执行
Terminal = false
#在菜单栏中显示的类别
Categories = System;

